html{

}
p{
    margin: 0;
}
.game-window{
    display: flex;
    flex-direction: row;
}
.game-side-bar{
    margin: 2vw;
    border: black 1px solid;
    width: 22%;
    height: fit-content;
}

#game-board{
    margin-top: 2vw;
    border: black 2px solid;
    display: inline-block;
    font-family: revert-layer, sans-serif;
    font-size: smaller;
    height: fit-content;
}
.game-board-line{
    margin: 0.05vw;
    display: flex;
    flex-direction: row;
}
.game-board-cell{
    display: flex;
    justify-content: center;
    margin: 0.05vw;
    border: black 1px solid;
    width: 1vw;
    height: 1vw;
}
.game-board-cell-robot-vegan{
    background: mediumseagreen;
}
.game-board-cell-robot-corpse{
    background: gray;
}
.game-board-cell-robot-hunter{
    background: indianred;
}
#show-genome{
    width: 20%;
    margin: 2vw;
}
.show-genome-item{
    width: 100%;
}
.show-genome-item p{
    word-wrap: break-word;
}
.select-mouse-mode-menu-item{
    display: none;
}
.gen-input-cell{
    width: 1.8vw;
    margin: 0.2vw;
    border: black 1px solid;

}
.select-mode-menu-input-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.2vw;
}
.select-mode-menu-input-item > input{
    width: 5vw;
    margin-right: 1vw;
}
.select-mode-menu-input-item > select{
    width: 8vw;
    margin-right: 1vw;
}
.select-mode-menu-input-item > label{
    margin-left: 1vw;
}
.select-mode-menu-input-item > p{
    margin-left: 1vw;
}
#select-mouse-mode-menu-game-settings > h3{
    margin-left: 0.5vw;
}
#select-mouse-mode-menu-see-robot-genome{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}